body {
    background-color: rgba(235,233,249,1);
    background-size: cover;
    font-family: 'Comfortaa', cursive;
  }
body {
    opacity: 0.5;
}
body:hover {
    opacity: 1.0;
   
}
h1 {
    color:  rgba(203,96,179,1);
    text-align: center;
    font-size: 60px;
}
p {
    margin-left: 40px;
}
h2 {
    margin-left: 40px;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }
em {
    color:  rgba(203,96,179,1);
}
